---
title: Global config
---

<script>
    import Types from './types.md';
</script>

Svelty picker exports `config` property, where you can set/change some of the properties globally, which will affect all newly created instances.

Can be usefull especially for formatting, i18n and theme setting to be consistent across the whole app. You should edit the config on your app start to reflect new settings for all _newly created_ pickers.

<div class="flex items-center gap-10">
<Types/>
</div>
