<script>
  import SveltyPicker from '$lib/components/SveltyPicker.svelte';
  import { en, de } from '$lib/utils/i18n.js';

  let picked = 'en';

  $: i18n = picked === 'en' ? en : de;
</script>

## 🌐 Localization

Localization file has following structure.

```js
export const en = {
  days:        ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
  daysShort:   ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
  daysMin:     ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
  months:      ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
  monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
  meridiem:    ['am', 'pm'],
  suffix:      ['st', 'nd', 'rd', 'th'],
  todayBtn:    'Today',
  clearBtn:    'Clear',
  timeView:    'Show time view',
  backToDate:  'Back to calendar view'
}
```
PRs for extending built-in localization are welcome 🥳

<div class="my-5">
  <SveltyPicker pickerOnly inputClasses="my-5" {i18n}></SveltyPicker>
  <div class="my-2">
    <label><input type="radio" bind:group={picked} value="en"> <span>🇬🇧</span></label>
    <label class="ml-2"><input type="radio" bind:group={picked} value="de"> <span>🇩🇪</span></label>
  </div>
</div>
