---
title: Events
---

Component emits `input`, `change` and `blur` events.

- `input` is dispatched on `<input>` element therefore you can get current value like from every native event:
- `change` event is using Svelte's `eventDispatcher`, therefore triggered event contains `detail` property

For custom element:

- `input` is also triggered on underlying `input[value]` and it's value is accessible underas standard input `event.target.value`