body {
    @apply bg-gray-100 text-gray-700
    dark:(bg-gray-900 text-gray-300)
    transition-color duration-500;
    > div > main {
      @apply p-8 max-w-4xl mx-auto;
    }
  }
  
  .prose {
    code,
    blockquote {
      &::before,
      &::after {
        content: '';
      }
    }
    pre {
      @apply bg-gray-200 dark:bg-gray-800
      transition-color duration-500;
      code {
        @apply text-gray-700
        dark:text-gray-300;
      }
    }
    blockquote {
      @apply border-gray-700 dark:border-gray-300
      transition-color duration-500;
    }
    ul li:before {
      @apply bg-gray-300 dark:bg-gray-700
      transition-color duration-500;
    }
  }
  